@font-face {
  font-family: 'Abel';
  src: url('Abel-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis';
  src: url('Dosis-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}