/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/components/D3/D3Wrapper.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
.D3Wrapper_d3-anchor__KTlhS{
    height:100%;
    width:100%;
    position: relative;
    overflow: hidden;
}

.D3Wrapper_d3-chart__0_eXs{
    position:absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
}

