.slideInFromTop{
    animation: 1s slideInFromTop ease-out forwards;
}

.slideInFromTop-first{
    animation: 2s slideInFromTop_first ease-out forwards;
}

.slideOutToBottom{
    animation: 1s slideOutToBottom ease-out forwards;
}

.fadeIn{
    animation: 0.6s fadeIn  ease-out forwards;
}

.fadeOut{
    animation: 0.6s fadeOut ease-out forwards;
}

.slideOutToBottom-login{
    animation: 2s slideOutToBottom_login ease-out forwards;
}

.slideOutToLeft{
  animation: 0.7s slideOutToLeft ease-in-out forwards;
}

.slideOutToRight{
  animation: 0.7s slideOutToRight ease-in-out forwards;
}

.slideInFromRight{
  animation: 0.7s slideInFromRight ease-in-out forwards;
}

.slideInFromLeft{
  animation: 0.7s slideInFromLeft ease-in-out forwards;
}

@keyframes slideOutToBottom {
    from{
    transform: translateY(0%);
    opacity:1;
    }
    to{
    transform: translateY(20%);
    opacity:0;
    }
  }

@keyframes slideInFromTop {
    from{
    transform: translateY(-50%);
    opacity:0;
    }
    to{
    transform: translateY(0);
    opacity:1;
    }
  }

  @keyframes slideInFromRight {
    from{
    transform: translateX(50%);
    opacity:0;
    }
    to{
    transform: translateX(0);
    opacity:1;
    }
  }
  @keyframes slideInFromLeft {
    from{
    transform: translateX(-50%);
    opacity:0;
    }
    to{
    transform: translateX(0);
    opacity:1;
    }
  }
  
  

  @keyframes slideOutToLeft {
    from{
    transform: translateX(0);
    opacity:1;
    }
    to{
    transform: translateX(-50%);
    opacity:0;
    }
  }

  
  @keyframes slideOutToRight {
    from{
    transform: translateX(0);
    opacity:1;
    }
    to{
    transform: translateX(50%);
    opacity:0;
    }
  }


  @keyframes slideInFromTop_first {
    0%{
    transform: translateY(-50%);
    opacity:0;
    }
    70%{
        transform: translateY(-50%);
        opacity:0;
    }
    100%{
    transform: translateY(0);
    opacity:1;
    }
  }


@keyframes slideOutToBottom {
    from{
    transform: translateY(0%);
    opacity:1;
    }
    to{
    transform: translateY(50%);
    opacity:0;
    }
  }

  @keyframes slideOutToBottom_login {
    0%{
    transform: translateY(0%);
    opacity:1;
    }
    70%{
        transform: translateY(0%);
        opacity:1;
    }
    100%{
    transform: translateY(50%);
    opacity:0;
    }
  }

  @keyframes slideInFromTop {
    from{
    transform: translateY(-50%);
    opacity:0;
    }
    to{
    transform: translateY(0);
    opacity:1;
    }
  }




@keyframes fadeIn {
from{
opacity:0;
}
to{
opacity:1;
}
}

@keyframes fadeOut {
    from{
    opacity:1;
    }
    to{
    opacity:0;
    }
}
